@font-face {
    font-family: 'starkiller_outlineregular';
    src: url('fonts/starkiller_outline-webfont.eot');
    src: url('fonts/starkiller_outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/starkiller_outline-webfont.woff') format('woff'),
         url('fonts/starkiller_outline-webfont.ttf') format('truetype'),
         url('fonts/starkiller_outline-webfont.svg#starkiller_outlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.reveal .stylewars h1,
.reveal .stylewars h3 {
    font: bold 140px/114px starkiller_outlineregular, sans-serif;
    text-shadow: none !important;
    color: yellow;
}

.reveal .stylewars h3 {
    margin-bottom: 20%;
    font-size: 50px;
}

.reveal .stylewars h6 {
    margin-bottom: 20%;
    color: #1ce5f7;
    font: 16px/30px Arial, sans-serif;
    text-transform: none;
}

.reveal .stylewars small {
    color: yellow;
}

p.styled {
    color: #ff0;
    font: italic bold 18px/18px Arial, sans-serif;
}

ul.list li,
ul.list2 li,
.reveal dl {
    color: lightblue;
    font-size: 18px;
    line-height: normal;
    text-align: left;
}

ul.list2 li,
.reveal dl dt,
.reveal dl dd {
    font-size: 22px;
}

ul.list2 li em {
    font-size: 18px;
}

.reveal dl dd {
    margin-bottom: 10px;
    font-size: 18px;
    text-indent: 30px;
}

h2.external_example {    
    background: #10c0d0;
    border: 1px dashed #5ee614;
}

.reveal ul li li,
.reveal ol li {
    margin-left: 30px;
    font-size: 60%;
    line-height: 100%;
    color: #8bd3d8;
}

ul.list_example li {
    margin: 0;
    font-size: 16px;
    line-height: normal;
    text-align: left;
}

ul.list_example ~ p {
    color: #13bbc5;
    font-size: 20px;
}

ul.list_example + p {
    color: #ff0;
}

.reveal .example {
    margin: 0 auto;
    width: 80%;
}

.example p {
    font-size: 18px;
    text-align: left;
}

.classes_example p:first-child {
    color: yellow;
}

.classes_example p:last-child {
    color: #13bbc5;
}

.classes_example p:nth-child(3) {
    background: green;
}

.classes_example p:nth-child(even) {
    font-style: italic;
}

.classes_example p:nth-of-type(2) {
    background: orange;
    color: grey;
}

.classes_example p:first-of-type {
    text-decoration: underline;
}

.classes_example p:lang(ua) {
    border: 1px solid red;
}

.elements_example p:first-letter {
    color: yellow;
    font-weight: bold;
    font-size: 50px;
}

.elements_example:first-line {
    color: lightblue;
}

.elements_example ::selection {
    background: #c6ff39;
}

.reveal .before-after_example {
    border: 1px solid lightblue;
}

.before-after_example:before {
    content: "Description";
}

.before-after_example:after {
    content: "The end";    
}

.reveal .margin_padding_example {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    background: lightblue;
}

.reveal .margin_padding_example p {
    margin: 0;
    font-size: 20px;
    text-align: left;
    color: #000;
}

.reveal .margin_padding_example p:first-child {
    margin: 20px;
    background: yellow;
}

.reveal .margin_padding_example p:nth-child(2) {
    padding: 20px;
    background: green;
}

.reveal .calculate {
    margin: 10px auto;
    padding: 20px 30px;
    width: 100px;
    height: 100px;
    border: 5px solid red;
}

.reveal .calculate span {
    display: block;
    height: inherit;
    background: blue;
}

.reveal .box_sizing_example {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.reveal .box_sizing_example span {
    height: auto;
}

.reveal .transition_example {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: yellow;
    transition: all 0.5s ease 1s;
}

.reveal .transition_example:hover {
    width: 200px;
    background: lightblue;
    transform: rotate(-45deg);
}

.reveal .animation_example {
    background: #0080ff;
    margin: 0 auto;
    padding-top: 70px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    -webkit-animation: tralala 3s infinite alternate;
    animation: tralala 5s infinite alternate;
}

@-webkit-keyframes tralala {
    0%   {top: 0px; left: 0;}
    25%  {top: 100px; left: 100px; background: #0080ff; border-radius: 100px;}
    75%  {top: 50px; left: 5px; background: #ff0;}
    100% {top: 0px; left: 0px; border-radius: 0px;}
}

@keyframes tralala {
    0%   {top: 0px; left: 0;}
    25%  {top: 100px; left: 100px; background: #0080ff; border-radius: 100px;}
    75%  {top: 50px; left: 5px; background: #ff0;}
    100% {top: 0px; left: 0px; border-radius: 0px;}
}
